<div class="container">
    <div class="row mt-3">
        <div class="col-xs-12 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <h3 class="text-center mt-3">DETALLES DE PERSONA</h3>
           
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-5"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <img [src]="persona.avatar">
                        </div>
                        <div class="col-xs-12 col-md-1 col-lg-1"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>Nombre:</b> {{persona.first_name}} {{persona.last_name}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>Documento:</b> {{persona.documento}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>Tel:</b> {{persona.tel}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>Profesión:</b> {{persona.profesion}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>País:</b> {{persona.pais}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-xs-12 col-md-4 col-lg-4"> </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                           <b>Ciudad:</b> {{persona.ciudad}}
                        </div>
                        <div class="col-xs-12 col-md-2 col-lg-2"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info" (click)="volver()">Volver</button>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-2 col-lg-2"></div>
    </div>
</div>